@model Publishers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Publisher Detaills</title>
</head>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <h1>@Model.PublisherName</h1>
            </div>
            <div class="card-body text-center">
                <h4> Publisher ID : @Model.PublisherId</h4>
                <h4>Address : @Model.Address</h4>
                <h4>Phone : @Model.Phone</h4>
                <h4>City : @Model.City</h4>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
</html>
